@model IEnumerable<MAFRANFER.Models.inscripcion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.importe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.observacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.curso.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estudiante.nro_documento)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.importe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.observacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.curso.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estudiante.nro_documento)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.inscripcion_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.inscripcion_id })
        </td>
    </tr>
}

</table>
