@model IEnumerable<MAFRANFER.Models.estudiante>
   
<section class="table table-responsive ">
    <div class="container-fluid">

        <div class="row"> 
            <div class="col-md-5 col-lg-offset-4">
                <h1>Alumnos Nuevos Registrados</h1>
                <form action="" class="online-form col-lg-pull-5">
                    <button type="submit" class="form-control"> @Html.ActionLink("Nuevo Estudiante", "Create", "estudiantes") </button>
                </form>
            </div>
           
            
        </div>
        <br />
        <br />
        <br />
        <br />
        <div class=" col-lg-12 col-md-12 " text-align="right">
            <table class="table">
                <tr class="">
                    <th>
                        @Html.DisplayNameFor(model => model.nro_documento)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.tipo_documento)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.apellido)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.direccion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.celular)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.telefono)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.sexo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.fecha_nacimiento)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.nro_documento)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.tipo_documento)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.apellido)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.direccion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.celular)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.telefono)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.sexo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.fecha_nacimiento)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.estudiante_id }, new { onclick = "return confirmation();", @class = "btn btn-warning btn-xs" }) -
                    
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.estudiante_id }, new { onclick = "return confirmation();", @class = "btn btn-danger btn-xs" })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
   
</section>